<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Operaçao Bexiga</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="icon" href="~/images/logo.jpeg" type="image/x-icon" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img src="~/images/logo.jpeg" alt="Logo" class="logo-icon">
        <div class="logo_name">Operação Bexiga</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class='bx bx-home'></i>
            <span class="links_name">Inicio</span>
          </a>
          <span class="tooltip">Inicio</span>
        </li>
          <li>
          <a class="nav-link" asp-controller="Home" asp-action="Feminino">
            <i class='bx bx-female-sign' ></i>
            <span class="links_name">Feminino</span>
          </a>
          <span class="tooltip">Feminino</span>
        </li>
        <li>
          <a class="nav-link" asp-controller="Home" asp-action="Masculino">
            <i class='bx bx-male-sign' ></i>
            <span class="links_name">Masculino</span>
          </a>
          <span class="tooltip">Masculino</span>
        </li>
      </ul>
    </div>
    <div class="content-wrapper">
      <section class="home-section">
        @RenderBody()
      </section>
    </div>
    <script src="~/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
