@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <h1 style="text-align: center;">Bem-vindo ao Operação Bexiga!</h1>
    <p style="text-align: center;">
        Aqui, você vai descobrir tudo sobre o Cateterismo Vesical Intermitente Limpo (CVIL), 
        uma técnica segura e eficaz para ajudar no esvaziamento da bexiga.
    </p>
    <p style="text-align: center;">
        Se você tem dificuldade para fazer isso sozinho, o CVIL pode ser a solução ideal.
    </p>
    <p style="text-align: center;">
        O processo é simples: um cateter é inserido pela uretra até a bexiga, em intervalos regulares, para drenar a urina.
    </p>
    <p style="text-align: center;">
        Depois, é só retirar o cateter e pronto!
    </p>
    <p style="text-align: center;">
        No Operação Bexiga, nosso objetivo é melhorar sua qualidade de vida, prevenindo infecções e preservando a saúde do trato urinário.
    </p>
    <p style="text-align: center;">
        Além disso, essa prática pode ajudar a estabilizar algumas alterações anatômicas, como o refluxo vesico-ureteral.
    </p>
    <p style="text-align: center;">
        Sabemos que, no começo, você pode sentir alguma insegurança, mas fique tranquilo, isso é completamente normal!
    </p>
    <p style="text-align: center;">
        Decidir incluir o CVIL na rotina pode trazer dúvidas e mexer com o lado físico, emocional e social, mas estamos aqui para ajudar.
    </p>
    <p style="text-align: center;">
        O mais importante é que o CVIL pode ser adaptado às suas necessidades específicas.
    </p>
    <p style="text-align: center;">
        E o melhor: tanto você quanto seus cuidadores podem aprender tudo direitinho, ajudando a reduzir infecções e melhorar sua saúde.
    </p>
    
    <div class="additional-image">
        <img src="/images/imageminicio.png" alt="Additional Image" style="max-width: 100%; height: auto; margin-top: 20px;">
    </div>
</div>

 <style>
.additional-image {
  text-align: center;
  margin-top: 20px;
}

.additional-image img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.additional-image {
  text-align: center;
  margin-top: 20px;
}

.additional-image img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
</style>